<ul>
{{ range $.Site.Data.events.event }}
<li>
	<b>{{ .name }}</b>
	{{ if .begin }}{{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .begin.Local }}{{ end }}
	{{ if .end }}– {{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .end.Local }}{{ end }}
	{{ if .comment }}<p>{{ .comment }}</p>{{ end }}
</li>
{{ end }}
</ul>
